.appeal-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .appeal-cancel {
        width: 32px;
        height: 32px;
        align-self: start;
        margin-top: 10px;
        margin-left: 20px;
    }

    .appeal-inform {
        width: 85%;
        align-self: center;
        border-radius: 5px;
        border: 1px dashed #4693e0;
        color: #4693e0;
        padding: 5px;
        margin-top: 10px;
    }

    .appeal-area {
        width: 85%;
        min-height: 150px;
        align-self: center;
        margin-top: 15px;
        font-size: 18px;
        padding: 5px;
    }

    .appeal-images {
        margin-top: 20px;
        width: 90vw;
        align-self: center;

        .appeal-images-title {
            margin-bottom: 10px;
            // color: #4693e0;
        }
    }

    .appeal-submit {
        width: 60%;
        height: 40px;
        align-self: center;
        position: fixed;
        bottom: 15px;
        border: none;
        border-radius: 3px;
        background-color: #e04646;
        color: white
    }
}