@import '../../../styles/mixins.scss';

.detail-container {
  width: 100%;
  height: 100vh;
  border: px2rem(1) solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .detail-navbar {
    position: absolute;
    top: 0;
    margin-top: px2rem(5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: px2rem(40);
    @include padding(0, 25, 0, 15);
    
    .navbar-icon {
      @include size(32);
      cursor: pointer;
    }
  }
  
  .detail-slider {
    @include margin-top(45);
    margin-bottom: px2rem(10);
    width: 100%;
    background: #f8f8f8;

    .carousel-item {
      height: px2rem(200);
      background: #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: center;

      .slider-item {
        width: 100vw;
        height: px2rem(200);
        object-fit: contain;
        background: #f8f8f8;
        display: block;
      }

      img.slider-item {
        width: 100vw;
        height: px2rem(200);
        object-fit: contain;
        background: #f8f8f8;
        display: block;
      }
    }
  }
  
  .detail-title {
    word-break: break-all;
    width: px2rem(300);
    @include font-size(25);
    font-weight: 700;
    margin-top: px2rem(5);
    line-height: 1.3;
    max-height: px2rem(65);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  
  .detail-profile {
    width: 100%;
    height: px2rem(23);
    justify-content: center;
    align-items: center;
    @include margin-top(10);
    display: flex;
    flex-direction: row;
    
    .detail-price {
      @include font-size(24);
      font-weight: bold;
    }
    
    .detail-goodsType {
      margin-left: px2rem(10);
      background: #8a99ee;
      @include border-radius(5);
      color: white;
      width: px2rem(25);
      display: flex;
      align-self: center;
      justify-content: center;
    }
    
    .detail-tag {
      margin-left: px2rem(5);
      background: #d34c4c;
      @include border-radius(5);
      color: white;
      display: flex;
      align-self: center;
      justify-content: center;
      width: px2rem(80);
    }
    
    .detail-campus {
      margin-left: px2rem(5);
      background: #579fb1;
      @include border-radius(5);
      color: white;
      display: flex;
      align-self: center;
      justify-content: center;
      width: px2rem(100);
    }
  }
  
  .detail-content {
    word-break: break-all;
    border: px2rem(1) solid #ccc;
    @include border-radius(5);
    @include padding(8);
    width: px2rem(300);
    height: px2rem(150);
    @include font-size(18);
    @include margin-top(15);
    overflow-y: auto;
    line-height: 1.5;
    white-space: pre-wrap;
    
    &::-webkit-scrollbar {
      width: px2rem(6);
    }
    
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: px2rem(3);
    }
    
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: px2rem(3);
      
      &:hover {
        background: #555;
      }
    }
  }
  
  .detail-author {
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: px2rem(30);
    @include margin-top(10);
    
    .author-icon {
      @include size(30);
      border-radius: 50%;
    }
    
    .author-name {
      max-width: px2rem(100);
      min-width: px2rem(40);
      height: px2rem(30);
      margin-left: px2rem(5);
    }
    
    .author-credit {
      width: px2rem(45);
      height: px2rem(30);
      margin-left: px2rem(5);
    }
    
    .author-time {
      width: px2rem(95);
      height: px2rem(30);
      margin-left: px2rem(10);
    }
  }
  
  .detail-alternative {
    width: px2rem(300);
    height: px2rem(40);
    @include margin(5, 0, 50, 0);
    
    .alter-user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      .user-like {
        @include flex-center;
        flex-direction: row;
        width: px2rem(80);
        height: px2rem(40);
        
        .like-icon {
          @include size(32);
        }
        
        .like-text {
          margin-left: px2rem(5);
          @include font-size(16);
          align-content: center;
        }
      }
      
      .user-dislike {
        @include flex-center;
        flex-direction: row;
        width: px2rem(80);
        height: px2rem(40);
        margin-left: px2rem(60);
        
        .dislike-icon {
          @include size(32);
        }
        
        .dislike-text {
          margin-left: px2rem(5);
          @include font-size(16);
          height: px2rem(40);
          width: px2rem(80);
          align-content: center;
        }
      }
    }
    
    .alter-manage {
      @include flex-center;
      flex-direction: row;
      
      .manage-like {
        @include flex-center;
        flex-direction: row;
        width: px2rem(80);
        height: px2rem(40);
        
        .like-icon {
          @include size(32);
        }
        
        .like-text {
          @include font-size(16);
          align-content: center;
        }
      }
      
      .manage-dislike {
        @include flex-center;
        flex-direction: row;
        width: px2rem(80);
        height: px2rem(40);
        @include margin(0, 30, 0, 40);
        
        .dislike-icon {
          @include size(32);
        }
        
        .dislike-text {
          margin-left: px2rem(5);
          @include font-size(16);
          height: px2rem(40);
          width: px2rem(80);
          align-content: center;
        }
      }
      
      .manage-drop {
        display: flex;
        align-items: center;
      }
    }
  }
  
  .detail-btn {
    position: absolute;
    bottom: 0;
    margin-bottom: px2rem(5);
    @include flex-center;
    flex-direction: row;
    width: 100%;
    height: px2rem(40);
    margin-top: px2rem(7);
    gap: px2rem(5);
    
    .contact-btn {
      @include flex-center;
      flex-direction: row;
      width: px2rem(120);
      height: px2rem(40);
      background: #f78441;
      @include border-radius(5);
      
      .qqBtn-icon {
        @include size(24);
        margin-left: px2rem(5);
      }
      
      .qqBtn-text {
        color: white;
        @include font-size(16);
      }
    }
    
    .star-btn {
      @include flex-center;
      flex-direction: row;
      width: px2rem(120);
      height: px2rem(40);
      background: #f79941;
      @include border-radius(5);
      
      .starBtn-icon {
        @include size(24);
      }
      
      .starBtn-text {
        color: white;
        @include font-size(16);
      }
    }
  }
}
