@import '../../styles/mixins.scss';

$dark: black;
$light: white;
$blue: #0674C1;

.tabbar-container {
  border-radius: px2rem(10) px2rem(10) 0 0;
  width: 100%;
  height: px2rem(60);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: $blue;
  z-index: 10000;
  
  .tabbar-item {
    width: 100%;
    height: px2rem(45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: px2rem(5);

    .tabbar-icon {
      @include size(32);
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      @include font-size(12);
      width: px2rem(60);
      height: px2rem(12);
      margin-bottom: px2rem(10);
      color: $light;
    }
  }
}
