$bg:#EDEDED;
.settings-container {
    width: 100%;
    height: calc(100vh - 50px);
    background: $bg;
    margin-top: 50px;
    .settings-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 45px;
        background: white;
        border-top: 1px solid $bg;
        .item-text {
            margin-left: 20px;
        }
        .item-value {
            position: absolute;
            right: 15px;
            color: #898484;
        }
        .item-icon {
            margin-left: 5px;
            margin-right: 5px;
        }
        .right-icon {
            position: absolute;
            right: 10px;
        }
    }
    .logout-container {
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45px;
        border: 2px solid $bg;
        background: white;
        .logout-icon {
            width: 32px;
            height: 32px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .logout-text {
            margin-left: 5px;
            width: 100px;
            height: 38px;
            align-content: center;
        }
    }
}