.forum-container{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--bg-color);

    .content{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50px;
        height:calc(100vh - 105px) ;

        .banner{
            display: flex;
            height: 13vw;
            z-index: 1;
            .Tabs{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }

        // .top-posts{
        //     height:15%;
        //     overflow: scroll;

        //     .Row{
        //         padding: 5px;
        //         .Col{
        //             .Card{
        //                 height: 30px;
        //                 .ant-card-body {
        //                   padding: 0; 
        //                   display: flex;
        //                   justify-content: center;
        //                   align-items: center;
        //                   height: 100%;
        //                   font-size: 12px;
        //                   overflow: hidden;
        //                 }
                        
        //             }
        //         }
        //     }
        // }

        .posts{
            display: flex;
            flex-direction: column;
            background-color:  rgb(228, 228, 228);
            height:100%;
            row-gap: 7px;
            overflow: scroll;
            padding: 10px;

            .Card{
                border: false;
                height: auto;
                display: flex;
                flex-direction: column;
                height: 60vw;
                .post-content{
                    font-size: calc(100vw / 26);
                }

                img{
                    width: calc((80vw) / 3);
                    height: calc((80vw) / 3);
                    object-fit: contain;
                    display: block;
                }
                .ant-card-body {
                    padding: 15px;
                    height:auto;
                    white-space: normal;
                    word-wrap: break-word;
                    position: relative;

                    .post-other{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        height: 35vw;

                        .post-img{
                            display: flex;
                            gap: 2vw;
                        }

                        .likes{
                            display: flex;
                            position: relative;
                            align-items: center;
                            height: 10vw;
                            font-size: calc(100vw / 26);
                            img{
                                width: 5vw;
                            }
                        }
                    }
                }

                .ant-card-head {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: calc(100vw / 22);
                    min-height: 13vw;
                }

                
            }
        }
    }

        

        // .top-posts{
        //     height: 100px;
        //     background-color: antiquewhite;
        // }
    

    .tabbar{
        display: flex;
        width: 100%;
        .float-button{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
        }
    }
}