.user-container {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    background: #ccc;
    .user-info {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        background: white;
        .user-face {
            align-self: center;
            width: 100px;
            height: 100px;
            margin-top: 70px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid #ccc;
                object-fit: cover;
            }
        }
        .user-name {
            margin-left: 120px;
        }
        .user-credit {
            margin-left: 120px;
        }
        .user-email {
            margin-left: 120px;
        }
    }
    .user-settings {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 3px solid #ccc;

        .user-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 38px;
            background: white;
            border-top: 1px solid #ccc;
        }
        
    }
}