$primary-color: #3498db;
$hover-color: rgb(0, 86, 179);
$background-color: #ffffff;
$text-color: #333;
$border-radius: 8px;
$shadow-color: rgba(0, 0, 0, 0.1);

.favorites-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    // .header{

    // }

    .body{
        display: flex;
        flex: 1;
        flex-direction: column;

        .tabs-container{
            display: flex;
            width: 100vw;

            .tabs{
                width: 100vw;
            }
        }


        .content{
            display: flex;
            gap: 5px;
            flex-direction: column;
            height: 65vh;
            margin-right: 25px;
            margin-left: 6px;
            .commodity{
                display: flex;
                border: 1px solid #acacac;
                width: 100%;
                height: 100px;
                margin: 2px;
                border-radius: 7px;
                align-items: center;
                padding-left: 8px;

                .commodity-delete{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #676767;
                    border-radius: 6px;
                    width: 15px;
                    height: 15px;
                    transition: all 0.3s ease;
                    cursor: pointer;
                }
    
                .commodity-img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 6px;
                margin-bottom: 6px;
    
                    img{
                        width: 85px;
                        height: 85px;
                    }
    
                }

                .commodity-description{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .commodity-title{
                        font-size: 15px;
                        display: flex;
                        justify-self: start;
                        align-items: start;
                        margin-left: 10px;
                        margin-top: 5px;
                        font-size: 16px;
                        font-weight: 500;
                        }

                        .commodity-detail{
                            font-size: 14px;
                            display: flex;
                            margin-left: 10px;
                            overflow: hidden;
                            height: 35px;
                            text-overflow: ellipsis;
                        }
        
                        .commodity-bottom{
                            display: flex;
                            align-items: end;
                            padding: 0 10px;
                            width: 100%;
                            
                            .commodity-price{
                                font-size: 16px;
                                font-weight: 600;
                                color: $hover-color;
                                margin-right:100px ;
                            }

                            .commodity-tag{
                                border: 1px solid #c7c7c7;
                                border-radius: 5px;
                                padding: 2px;

                                }
                        }
                }
    
                }  
        }

    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 20px;

        .manage-button{
            display: flex;

            button{
                position: fixed;
                border: none;
                border-radius: 10px;
                width: 100px;
                height: 25px;
                background-color: $primary-color;
                color: white;
                transition: all 0.3s ease;
                bottom: 20px;
                left: 37%;
                box-shadow: $shadow-color 0px 0px 8px 0px;

                &:active{
                    transform: translateY(3px);
                    background-color: $hover-color;
                }
            }
        }

        .delete-button{
            display: flex;

            button{
                position: fixed;
                border: none;
                border-radius: 10px;
                width: 100px;
                height: 25px;
                background-color: rgb(241, 69, 69);
                transition: all 0.3s ease;
                bottom: 50px;
                left: 37%;
                box-shadow: #b00202 0px 0px 8px 0px;


                &:active{
                    transform: translateY(3px);
                    background-color: #b00202;
                }
            }
        }

    }

    
}