@import '../../styles/mixins.scss';

$blue: #0674C1;
$grey: #EDEDED;

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px2rem(10);
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: px2rem(55);
  position: fixed;
  top: 0;
  background: $blue;
  z-index: 1000; // 降低 z-index，Antd message 默认是 1010

  .left {
    @include size(32);
    display: flex;
    align-items: center;
    position: absolute;
    left: px2rem(10);

    img {
      @include size(32);
      object-fit: cover;
    }
  }
  
  .navbar-title {
    width: auto;
    height: px2rem(24);
    @include font-size(18);
    color: white;
  }
}
