.reset-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    .reset-text {
        margin-top: 70px;
        width: 200px;
        height: 25px;
        padding: 3px;
    }
    .text-submit {
        margin-top: 70px;
        width: 50px;
        height: 35px;
        margin-left: 10px;
        border: none;
        background-color: #59cf8e;
        color: white;
        font-size: 16px;
        border-radius: 3px;
    }
    .reset-img {
        width: 200px;
        height: 200px;
        margin-top: 70px;
    }
}