.campus-container {
    width: 80px;
    height: 30px;
    font-size: 20px;
    .campus-btn {

    }
    .campus-btn:first-child {

    }
    .campus-btn:nth-child(2) {

    }
    .campus-btn:nth-child(3) {

    }
}