@import '../../../../styles/mixins.scss';

.about-container {
    margin-top: px2rem(70);
    margin-bottom: px2rem(20);
    width: 90vw;
    @include font-size(19);
    display: flex;
    flex-direction: column;
    justify-self: center;
    li {
        list-style: none;;
    }
}