.about-container {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 90vw;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    li {
        list-style: none;;
    }
}