.register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .register-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
  }
  .register-box {
    position: relative;
    top: -20px;
    width: 270px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;

    .register-logo {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
    .register-title {
      font-size: 30px;
      color: white;
    }

    .register-form {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      //border: 1px solid white;//供测试定位使用
      .form-item {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        label {
          display: flex;
          align-items: center;
          justify-content: start;
          width: 100px;
          font-size: 13px;
          height: 20px;
          color: white;
        }
        input {
          border: 1px solid white;
          outline: none;
          border-radius: 5px;
          width: 180px;
          height: 15px;
          background: transparent;
          padding: 3px;
          color: white;
        }
      }
      button {
        margin-top: 10px;
        width: 190px;
        height: 30px;
        border-radius: 5px;
        background-color: #d97f35;
        border: none;
        color: white;
      }
    }
  }
}
